<!DOCTYPE = HTML> 
<html>
 <head>
  <title>
   Random 1-Star Yelp Reviews
  </title>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet" type="text/css">
 <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
 <link rel="shortcut icon" href="/stylesheets/thumbsdown.ico" type="image/x-icon">
</head>
<body>
<div class="ui massive fixed inverted menu">
    <div class="ui container">
      <div id="NSTABP" class="ui header item"> <i class="yelp icon"></i> There's No Such Thing as Bad Press </div>
      <a href="/about" class="ui header item">About</a>
    </div>
    <div class="item">
    <a href="/" class="ui red button right">Get a Random 1-Star Yelp Review</a>
    </div>
</div>