<% include ./partials/header %>

<div class= "ui raised very padded text container segment">
<div id="aboutMe" class= "ui huge center header">The Best of the Worst of Yelp!</div>

 <div class="item">
  <div class="description">
    <p>We believe that There's No Such Thing as Bad Press -- and you deserve the best of the worst. </p>
    <p>Hit the red button and return a random 1-star Yelp review of somebody's (least) favorite restaurant! Are you as unhappy with the result as the Yelper was with his or her meal? Hit the button again!</p>
    <p>Special thanks to Mike Batko for the idea and domain!</p>
    <p>We hope you enjoy!</p>
    <p class="signature">--Ryan Lambert</p>
    <p class="signature">AppsByLamby@gmail.com</p>
   </div>
  </div>
  </div>

<% include ./partials/footer %>